pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f0f0f0; }
.highlight .c { color: #60A0B0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #F00 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666 } /* Operator */
.highlight .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #F00 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #04D } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40A070 } /* Literal.Number */
.highlight .s { color: #4070A0 } /* Literal.String */
.highlight .na { color: #4070A0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60ADD5 } /* Name.Constant */
.highlight .nd { color: #555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #D55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287E } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #BB60D5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #BBB } /* Text.Whitespace */
.highlight .mb { color: #40A070 } /* Literal.Number.Bin */
.highlight .mf { color: #40A070 } /* Literal.Number.Float */
.highlight .mh { color: #40A070 } /* Literal.Number.Hex */
.highlight .mi { color: #40A070 } /* Literal.Number.Integer */
.highlight .mo { color: #40A070 } /* Literal.Number.Oct */
.highlight .sa { color: #4070A0 } /* Literal.String.Affix */
.highlight .sb { color: #4070A0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070A0 } /* Literal.String.Char */
.highlight .dl { color: #4070A0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070A0 } /* Literal.String.Double */
.highlight .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070A0 } /* Literal.String.Heredoc */
.highlight .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #C65D09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070A0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287E } /* Name.Function.Magic */
.highlight .vc { color: #BB60D5 } /* Name.Variable.Class */
.highlight .vg { color: #BB60D5 } /* Name.Variable.Global */
.highlight .vi { color: #BB60D5 } /* Name.Variable.Instance */
.highlight .vm { color: #BB60D5 } /* Name.Variable.Magic */
.highlight .il { color: #40A070 } /* Literal.Number.Integer.Long */pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.dark .highlight .hll { background-color: #4f424c }
.dark .highlight { background: #2f1e2e; color: #E7E9DB }
.dark .highlight .c { color: #776E71 } /* Comment */
.dark .highlight .err { color: #EF6155 } /* Error */
.dark .highlight .k { color: #815BA4 } /* Keyword */
.dark .highlight .l { color: #F99B15 } /* Literal */
.dark .highlight .n { color: #E7E9DB } /* Name */
.dark .highlight .o { color: #5BC4BF } /* Operator */
.dark .highlight .p { color: #E7E9DB } /* Punctuation */
.dark .highlight .ch { color: #776E71 } /* Comment.Hashbang */
.dark .highlight .cm { color: #776E71 } /* Comment.Multiline */
.dark .highlight .cp { color: #776E71 } /* Comment.Preproc */
.dark .highlight .cpf { color: #776E71 } /* Comment.PreprocFile */
.dark .highlight .c1 { color: #776E71 } /* Comment.Single */
.dark .highlight .cs { color: #776E71 } /* Comment.Special */
.dark .highlight .gd { color: #EF6155 } /* Generic.Deleted */
.dark .highlight .ge { font-style: italic } /* Generic.Emph */
.dark .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.dark .highlight .gh { color: #E7E9DB; font-weight: bold } /* Generic.Heading */
.dark .highlight .gi { color: #48B685 } /* Generic.Inserted */
.dark .highlight .gp { color: #776E71; font-weight: bold } /* Generic.Prompt */
.dark .highlight .gs { font-weight: bold } /* Generic.Strong */
.dark .highlight .gu { color: #5BC4BF; font-weight: bold } /* Generic.Subheading */
.dark .highlight .kc { color: #815BA4 } /* Keyword.Constant */
.dark .highlight .kd { color: #815BA4 } /* Keyword.Declaration */
.dark .highlight .kn { color: #5BC4BF } /* Keyword.Namespace */
.dark .highlight .kp { color: #815BA4 } /* Keyword.Pseudo */
.dark .highlight .kr { color: #815BA4 } /* Keyword.Reserved */
.dark .highlight .kt { color: #FEC418 } /* Keyword.Type */
.dark .highlight .ld { color: #48B685 } /* Literal.Date */
.dark .highlight .m { color: #F99B15 } /* Literal.Number */
.dark .highlight .s { color: #48B685 } /* Literal.String */
.dark .highlight .na { color: #06B6EF } /* Name.Attribute */
.dark .highlight .nb { color: #E7E9DB } /* Name.Builtin */
.dark .highlight .nc { color: #FEC418 } /* Name.Class */
.dark .highlight .no { color: #EF6155 } /* Name.Constant */
.dark .highlight .nd { color: #5BC4BF } /* Name.Decorator */
.dark .highlight .ni { color: #E7E9DB } /* Name.Entity */
.dark .highlight .ne { color: #EF6155 } /* Name.Exception */
.dark .highlight .nf { color: #06B6EF } /* Name.Function */
.dark .highlight .nl { color: #E7E9DB } /* Name.Label */
.dark .highlight .nn { color: #FEC418 } /* Name.Namespace */
.dark .highlight .nx { color: #06B6EF } /* Name.Other */
.dark .highlight .py { color: #E7E9DB } /* Name.Property */
.dark .highlight .nt { color: #5BC4BF } /* Name.Tag */
.dark .highlight .nv { color: #EF6155 } /* Name.Variable */
.dark .highlight .ow { color: #5BC4BF } /* Operator.Word */
.dark .highlight .pm { color: #E7E9DB } /* Punctuation.Marker */
.dark .highlight .w { color: #E7E9DB } /* Text.Whitespace */
.dark .highlight .mb { color: #F99B15 } /* Literal.Number.Bin */
.dark .highlight .mf { color: #F99B15 } /* Literal.Number.Float */
.dark .highlight .mh { color: #F99B15 } /* Literal.Number.Hex */
.dark .highlight .mi { color: #F99B15 } /* Literal.Number.Integer */
.dark .highlight .mo { color: #F99B15 } /* Literal.Number.Oct */
.dark .highlight .sa { color: #48B685 } /* Literal.String.Affix */
.dark .highlight .sb { color: #48B685 } /* Literal.String.Backtick */
.dark .highlight .sc { color: #E7E9DB } /* Literal.String.Char */
.dark .highlight .dl { color: #48B685 } /* Literal.String.Delimiter */
.dark .highlight .sd { color: #776E71 } /* Literal.String.Doc */
.dark .highlight .s2 { color: #48B685 } /* Literal.String.Double */
.dark .highlight .se { color: #F99B15 } /* Literal.String.Escape */
.dark .highlight .sh { color: #48B685 } /* Literal.String.Heredoc */
.dark .highlight .si { color: #F99B15 } /* Literal.String.Interpol */
.dark .highlight .sx { color: #48B685 } /* Literal.String.Other */
.dark .highlight .sr { color: #48B685 } /* Literal.String.Regex */
.dark .highlight .s1 { color: #48B685 } /* Literal.String.Single */
.dark .highlight .ss { color: #48B685 } /* Literal.String.Symbol */
.dark .highlight .bp { color: #E7E9DB } /* Name.Builtin.Pseudo */
.dark .highlight .fm { color: #06B6EF } /* Name.Function.Magic */
.dark .highlight .vc { color: #EF6155 } /* Name.Variable.Class */
.dark .highlight .vg { color: #EF6155 } /* Name.Variable.Global */
.dark .highlight .vi { color: #EF6155 } /* Name.Variable.Instance */
.dark .highlight .vm { color: #EF6155 } /* Name.Variable.Magic */
.dark .highlight .il { color: #F99B15 } /* Literal.Number.Integer.Long */